
html { overflow-y: scroll; }
html .modal-open { 
	overflow: hidden !important;
	padding-right: 0px !important;
}

/* Category header */
@media screen and (min-width: 768px) {
	.container-main {
		/*width: 100%;*/
	}
}

/* avatar right 0 */

.navbar-right .dropdown .avatar-item{
    padding-right: 0px;
}

h5.list-group-head {
    padding: 12px 18px 13px 18px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.list-group-forum a.list-group-item {
    border-left-color: rgb(248, 248, 248);
    background: #FBFBFB;
    margin-top: 2px;
}
.index .col-sm-3 {
    margin-top: -5px;
}
.night .list-group-forum a.list-group-item {
    border-color: #3f3f3f;
    background: #444444;
}


.jumbotron-forum_php-margin_bottom {
    margin-bottom: 5px;
}
.thread-jumbotron h2 {
    padding-top: 3px;
}
